@{
    ViewBag.Title = "Nuestra Clínica - Clínica Alejandría";
}

<div class="about" id="about">
    <!---728x90--->
    <div class="container">
        <h3 class="title">Nuestra Cl&iacute;nica</h3>
        <!---728x90--->
        <div class="imgg-info-w3">
            <div class="col-md-6 welcome-left wel">
                <div class="welcome-left-top">
                    <h4>Bienvenido a <span class="bicolor">Cl&iacute;nica Alejandr&iacute;a</span></h4>
                    <p>
                        Somos una cl&iacute;nica familiar que provee y promueve la atenci&oacute;n de salud en el &aacute;rea de embarazos de alto riesgo, considerando que el paciente es lo m&aacute;s importante, brindando servicios a trav&eacute;s de un cuerpo de profesionales de excelencia, con tecnolog&iacute;a de última generaci&oacute;n, en el tiempo adecuado, con estad&iacute;a confortable y atenci&oacute;n personalizada. Preservando los principios &eacute;ticos y colaborando con la evoluci&oacute;n de la medicina.
                    </p>
                    <div class="agileits_w3layouts_more">
                        <a href="@Url.Action("About")">M&Aacute;s Informaci&oacute;n</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 left-about-img">
                <img src="../Content/Images/Page/doctors.png" class="img-responsive doctors" alt="doctors">
            </div>
        </div>
        <!---728x90--->
    </div>
</div>
