@using MCGA.UI.WebSite.Constants.HomeController
@{
    ViewBag.Title = "Clínica Alejandría - Embarazos de Alto Riesgo";
    ViewBag.Description = "Description del Sitio - Ver SEO.";
    ViewBag.Author = Application.Nombre;
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@TwitterCard");
    ViewBag.OpenGraph = new OpenGraphBusiness(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 },
        new OpenGraphContactData(Application.Direccion, Application.Localidad, Application.CodigoPostal, Application.Pais)
        {
            Email = Application.Email,
            Phone = Application.Telefono1,
            Website = Url.AbsoluteRouteUrl(HomeControllerRoute.GetIndex)
        },
        new OpenGraphLocation(Application.Latitud, Application.Longitud))
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Nombre
    };
}

<div class="agileits-banner-grids text-center">
    <div class="banner-bottom-girds">
        <div class="col-md-4  col-sm-4 clr1 agileits-banner-grid">
            <span class="fa fa-heartbeat banner-icon" aria-hidden="true"></span>
            <h4>Cuidado de nuestros pacientes</h4>
            <p>Nuestra prioridad es cuidar a las futuras mamas y brindarle el mejor servicio y tratamiento.</p>
        </div>
        <div class="col-md-4 col-sm-4 clr2 agileits-banner-grid">
            <span class="fa fa-ambulance banner-icon" aria-hidden="true"></span>
            <h4>Emergencias de Riesgo</h4>
            <p>Brindamos un servicio de traslado ambulatorio para emergencias de riesgo.</p>
        </div>
        <div class=" col-md-4 col-sm-4 clr3 agileits-banner-grid">
            <span class="fa fa-heart banner-icon" aria-hidden="true"></span>
            <h4>Seguimiento Continuo</h4>
            <p>Nuestro servicio continuo minimiza el malestar vinculado a la separación del entorno más cercano, evitando internaciones innecesarias.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="about" id="welcome">
    <!---728x90--->
    <div class="container">
        <!---728x90--->
        <div class="imgg-info-w3">
            <div class="col-md-6 welcome-left wel">
                <div class="welcome-left-top">
                    <h4>Bienvenido a <span class="bicolor">Cl&iacute;nica Alejandr&iacute;a</span></h4>
                    <p>
                        Somos una cl&iacute;nica familiar que provee y promueve la atenci&oacute;n de salud en el &aacute;rea de embarazos de alto riesgo, considerando que el paciente es lo m&aacute;s importante, brindando servicios a trav&eacute;s de un cuerpo de profesionales de excelencia, con tecnolog&iacute;a de última generaci&oacute;n, en el tiempo adecuado, con estad&iacute;a confortable y atenci&oacute;n personalizada. Preservando los principios &eacute;ticos y colaborando con la evoluci&oacute;n de la medicina.
                    </p>
                    <div class="agileits_w3layouts_more">
                        <a href="@Url.Action("About", "Home")">M&Aacute;s Informaci&oacute;n</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 left-about-img">
                <img src="../Content/Images/Page/doctors.png" class="img-responsive doctors" alt="doctors">
            </div>
        </div>
        <!---728x90--->
    </div>
</div>